#%RAML 1.0
title: Multrees WebAPI
version: 1
baseUri: https://api.multrees.com/v{version}/{fi}
baseUriParameters:
  fi:
    type: string
    description: The Financial Institute's short-code, supplied by Multrees.
    displayName: Financial Institute
protocols: [ HTTPS ]
mediaType:
  - application/json
description: Multrees Web API provides secure, programmatic access into the core elements of Multrees' services and data.
  Version 1 focusses on exposing out 'GET' functionality for integration into Digital and Reporting Tools.
  Version 2 will focus on POST/PUT for integration into CRM and platform technologies.
  Version 3 will integrate Corporate Action notifications and elections.
types:
  Account:
    displayName: Account
    description: An investment or cash account.
    type: object
    properties:
      customerId:
        type: string
        required: true
      accountType:
        type: string
        description: Capital or Income
        required: true
      accountLocation:
        type: string
        description: Onshore or Offshore
        required: true
      accountName:
        type: string
        required: true
      accountDescription:
        type: string
        required: true
      accountCurrency:
        type: string
        required: true
      notes:
        type: string
        required: true
    example:
      customerId: ABC001
      accountType: Income
      accountLocation: Onshore
      accountName: Brian Smith Cash Account GBP
      accountDescription: Brian Smith Cash Account GBP
      accountCurrency: GBP
      notes: Main onshore cash account for dealing
  Accounts:
    description: An array of accounts.
    type: Account[]
    minItems: 1
  ReportingGroup:
    displayName: Reporting Group
    description: A group of accounts for reporting.
    type: object
    properties:
      groupId:
        type: string
        required: true
      groupName:
        type: string
        required: true
    example:
      groupId : GRP1234
      groupName : "John Smith Investments"
  ReportingGroups:
    description: An array of reporting Groups.
    type: ReportingGroup[]
    minItems: 1
  Beneficiary:
    description: A beneficiary.
    properties:
      customerId:
        type: string
        required: true
      accountId:
        type: string
        required: true
      accountName:
        type: string
        required: true
      date:
        type: date-only
        required: true
      internal:
        type: boolean
        required: true
      relationship:
        type: string
        required: false
      notes:
        type: string
        required: false
    example:
      customerId : "ABC1234"
      date: "2017-01-20"
      accountId : "123456"
      accountName : "Brian Smith ISA"
      internal: true
      relationship: "Accountant"
      notes: ""
  Beneficiaries:
    description: An array of beneficiaries.
    type: Beneficiary[]
    minItems: 1
  Client:
    description: A client.
    properties:
      customerId:
        type: string
        required: true
      accountName:
        type: string
        required: true
      customerType :
        type: string
        required: true
      baseCurrency :
        type: string
        required: true
      taxResidency :
        type: string
        required: true
      taxResidencyEffectiveDate :
        type: date-only
        required: true
      nationality :
        type: string
        required: true
      effectiveDate :
        type: date-only
        required: true
      taxDomicile :
        type: string
        required: true
      taxYearEnd :
        type: string
        required: true
      taxStatus :
        type: string
        required: true
      accountingMethod :
        type: string
        required: true
      preferredLanguage :
        type: string
        required: true
      title :
        type: string
        required: true
      firstname :
        type: string
        required: true
      lastName :
        type: string
        required: true
      gender :
        type: string
        required: true
      dateOfBirth :
        type: date-only
        required: true
      maritalStatus :
        type: string
        required: true
      birthCountry :
        type: string
        required: true
      NINO:
        type: string
        required: true
      PEP:
        type: boolean
        required: true
      addressType :
        type: string
        required: true
      address1 :
        type: string
        required: true
      address2 :
        type: string
        required: false
      address3 :
        type: string
        required: false
      city :
        type: string
        required: true
      postalCode :
        type: string
        required: true
      email :
        type: string
        required: false
    example:
      customerId : ABC1234
      accountName : Brian Smith ISA Account
      customerType : Individual
      baseCurrency : GBP
      taxResidency : UK
      taxResidencyEffectiveDate : 2004-10-10
      effectiveDate: 2010-01-01
      nationality: UK
      taxDomicile : UK
      taxYearEnd : 01/04
      taxStatus : Normal
      accountingMethod : FIFO
      preferredLanguage : English
      title : Mr
      firstname : Brian
      lastName : Smith
      gender : Male
      dateOfBirth : 1974-01-01
      maritalStatus : Married
      birthCountry : UK
      NINO: AD1234546L
      PEP: false
      addressType : Home
      address1 : 10 Downing Street
      address2 : Westminster
      address3 : N/A
      city : London
      postalCode : AB13 8UK
      email : Brian.Smith@wealth.com
  Clients:
    description: An array of clients.
    type: Client[]
    minItems: 1
  Holding:
    description: A individual account holding
    properties:
      customerId:
        type: string
        required: true
      extractDate :
        type: date-only
        required: true
      groupName :
        type: string
        required: true
      groupId :
        type: string
        required: true
      clientName :
        type: string
        required: true
      baseCurrency :
        type: string
        required: true
      accountNumber :
        type: string
        required: true
      accountName :
        type: string
        required: true
      accountType :
        type: string
        required: true
      securityName :
        type: string
        required: true
      securityCCY :
        type: string
        required: true
      securityISIN :
        type: string
        required: true
      securitySEDOL :
        type: string
        required: true
      quantity :
        type: number
        required: true
      bookCostBase :
        type: number
        required: true
      marketPriceGBP :
        type: number
        required: true
      marketValueGBP :
        type: number
        required: true
      accruedInterestGBP :
        type: number
        required: true
      accruedInterestBase :
        type: number
        required: true
      securityType :
        type: string
        required: true
      instrumentType :
        type: string
        required: true
      classification1 :
        type: string
        required: true
      classification2 :
        type: string
        required: true
      classification3 :
        type: string
        required: true
      custodyAccountNumber :
        type: string
        required: true
      custodyAccountName :
        type: string
        required: true
      yield :
        type: number
        required: true
      estimatedAnnualIncome :
        type: number
        required: true
      reportingclass1seq :
        type: number
        required: true
      reportingclass2seq :
        type: number
        required: true
      reportingclass3seq :
        type: number
        required: true
      marketPriceSec :
        type: number
        required: true
      marketPriceBase :
        type: number
        required: true
      marketValueBase :
        type: number
        required: true
      marketValueSec :
        type: number
        required: true
      bookCostSec :
        type: number
        required: true
      fxRateGBP :
        type: number
        required: true
      fxRate :
        type: number
        required: true
    example:
      extractDate : 2017-06-27
      groupName : Brian Smith Portfolio
      groupId : GRP001
      clientName : Brian Smith Discretionary
      customerId : ABC1234
      baseCurrency : GBP
      accountNumber : ACC001
      accountName : Brian Smith Discretionary
      accountType : Investment
      securityName : GOVT OF UK 0.375% INDEX LKD GILT 22/03/62
      securityCCY : GBP
      securityISIN : GB00B4PTCY75
      securitySEDOL : B4PTCY7
      quantity : 10000
      bookCostBase : 21248.46
      marketPriceGBP : 277.4239
      marketValueGBP : 27276.317848
      accruedInterestGBP : 2.39267966850829
      accruedInterestBase : 2.39267966850829
      securityType : UK Gilts
      instrumentType : Bond
      classification1 : Fixed Income
      classification2 : N/A
      classification3 : Government Bonds
      custodyAccountNumber : ACC86613
      custodyAccountName : MIS CUST Tillswood BNY A/c GENERAL
      yield : 0.1499
      estimatedAnnualIncome : 40.89078825
      reportingclass1seq : 10
      reportingclass2seq : 0
      reportingclass3seq : 1
      marketPriceSec : 277.4239
      marketPriceBase : 277.4239
      marketValueBase : 27276.317848
      marketValueSec : 21248.46
      bookCostSec : 27276.317848
      fxRateGBP : 1
      fxRate : 1
  Holdings:
    description: An array of holdings.
    type: Holding[]
    minItems: 1
  Payment:
    description: A individual payment
    properties:
      customerId:
        type: string
        required: true
      valueDate:
        type: date-only
        required: true
      debitAccountId:
        type: string
        required: true
      debitAccountName:
        type: string
        required: true
      debitAmount:
        type: number
        required: true
      creditBankName:
        type: string
        required: true
      creditAccountNo:
        type: string
        required: true
      creditCurrency:
        type: string
        required: true
      creditSortCode:
        type: string
        required: false
      creditSWIFTAddress:
        type: string
        required: false
      creditIBAN:
        type: string
        required: false
      ReferenceNumber:
        type: string
        required: true
      Notes:
        type: string
        required: true
      notice:
        type: date-only
        required: false
        displayName: Advanced Notice
        description: If this is an advanced notice then this is the settlement date.
          Otherwise it is the date of the payment.
      repeat:
        type: string
        required: false
        displayName: Regular Payment
        description: If this is a regular payment then describe the repeat.
    example:
      customerId : "ABC1234"
      valueDate: 2017-07-10
      debitAccountId: ACC003
      debitAccountName: Brian Smith Cash Account GBP
      debitAmount: 10000.00
      creditBankName: Bank of Scotland
      creditAccountNo: "12345678"
      creditCurrency: GBP
      creditSortCode: 11-22-33
      creditSWIFTAddress: BICXXXXX12
      creditIBAN: XXXX
      ReferenceNumber: REF0001
      Notes: Regular payment of income into current account
      repeat: "first day of month"
      notice: "2017-02-28"
  Payments:
    description: An array of payments.
    type: Payment[]
    minItems: 1
  FX:
    description: An individual FX
    properties:
      customerId:
        type: string
        required: true
      valueDate:
        type: date-only
        required: true
      debitAccountId:
        type: string
        required: true
      debitAccountName:
        type: string
        required: true
      creditAccountId:
        type: string
        required: true
      creditAccountName:
        type: string
        required: true
      tradedCurrency:
        type: string
        required: true
      againstCurrency:
        type: string
        required: true
      orderType:
        type: string
        required: true
      amount:
        type: number
        required: true
    example:
      customerId: ABC1234
      valueDate: 2017-07-10
      debitAccountId: ACC003
      debitAccountName: Brian Smith Cash Account GBP
      creditAccountId: ACC004
      creditAccountName: Brian Smith Cash Account USD
      tradedCurrency: USD
      againstCurrency: GBP
      orderType: Buy
      amount: 10000.00
  FXs:
    description: An array of FXs.
    type: FX[]
    minItems: 1
  Trade:
    description: An individual trade.
    properties:
      accountId:
        type: string
        required: true
      accountName:
        type: string
        required: true
      SEDOL:
        type: string
        required: false
      ISIN:
        type: string
        required: false
      listingCountry:
        type: string
        required: false
      transactionId:
        type: string
        required: true
      tradeDate:
        type: date-only
        required: true
      transactionType:
        type: string
        required: true
      quantity:
        type: number
        required: true
      proceeds:
        type: number
        required: true
      expense:
        type: number
        required: true
      exRate:
        type: number
        required: true
      settlementDate:
        type: date-only
        required: true
      currency:
        type: string
        required: true
      cashCurrency:
        type: string
        required: true
    example:
      accountId: ABC1234
      accountName: Brian Smith ISA
      SEDOL: B3H9JJ8
      ISIN: ASD123456G
      listingCountry: GBP
      transactionId: I123456
      tradeDate: 2017-03-01
      transactionType: Buy
      quantity: 10000
      proceeds: 1377.89
      expense: 1107.24
      exRate: 1.0
      settlementDate: 2017-03-03
      currency: GBP
      cashCurrency: GBP
  Trades:
    description: An array of trades.
    type: Trade[]
    minItems: 1
resourceTypes:
/clients:
  displayName: Clients
  description: Collection of all clients
  get:
    description: Retrieve all clients.
    queryParameters:
      SearchTerm:
        displayName: Search Term
        type: string
        description: Search on Client Name
        example: Smith
        required: false
    responses:
      200:
        body:
          application/json:
            type: Clients
  post:
    description: Create a number of new clients - TBD.
  put:
    description: Update a number of existing clients - TBD.
  delete:
    description: Remove a number of clients - TBD.
  /{client}:
    displayName: Client
    description: An individual or organisation investor
    get:
      description: Retrieve client details.
      queryParameters:
        GroupId:
          displayName: Customer Id
          type: string
          description: Unique customer reference
          example: ABC1234
          required: true
      responses:
        200:
          body:
            application/json:
              type: Client
    post:
      description: Create a new client - TBD.
    put:
      description: Update an existing client - TBD.
    delete:
      description: Remove a client - TBD.
/accounts:
  displayName: Accounts
  description: Collection of all investment and cash accounts
  get:
    description: Retrieve all cash and investment accounts.
    queryParameters:
      GroupId:
        displayName: Level
        type: string
        description: Reporting Group Id
        example: GRP001
        required: false
      SearchTerm:
        displayName: Search Term
        type: string
        description: Search on Account Name
        example: Smith
        required: false
    responses:
      200:
        body:
          application/json:
            type: Accounts
  post:
    description: Create a number of new accounts - TBD.
  put:
    description: Update a number of existing accounts - TBD.
  delete:
    description: Remove a number of accounts - TBD.
  /{account}:
    displayName: Account
    description: Investment or cash accounts
    get:
      description: Retrieve an account.
      responses:
        200:
          body:
            application/json:
              type: Account
    post:
      description: Create a new account - TBD.
    put:
      description: Update an existing account - TBD.
    delete:
      description: Remove an account - TBD.
/reportinggroups:
  displayName: Reporting Groups
  description: Collection of groups of accounts for reporting
  get:
    description: Retrieve all reporting groups
    responses:
      200:
        body:
          application/json:
            type: ReportingGroups
  post:
    description: Create a number of new reporting groups - TBD.
  put:
    description: Update a number of existing reporting groups - TBD.
  delete:
    description: Remove a number of reporting groups - TBD.
  /{ReportingGroup}:
    displayName: Group
    description: Groups of accounts for reporting
    get:
      description: Retrieve a reporting group.
      responses:
        200:
          body:
            application/json:
              type: ReportingGroup
    post:
      description: Create a new reporting group - TBD.
    put:
      description: Update an existing reporting group - TBD.
    delete:
      description: Remove an reporting group - TBD.
/beneficiaries:
  displayName: Beneficiaries
  description: Collection of all beneficiaries for a client
  get:
    description: Retrieve all beneficiaries.
    queryParameters:
      CustomerId:
        displayName: Customer Id
        type: string
        example: ABC123456
        required: false
    responses:
      200:
        body:
          application/json:
            type: Beneficiaries
  post:
    description: Create a number of new beneficiaries - TBD.
  put:
    description: Update a number of existing beneficiaries - TBD.
  delete:
    description: Remove a number of beneficiaries - TBD.
  /{beneficiary}:
    displayName: Beneficiary
    description: A beneficiary of the client
    get:
      description: Retrieve a beneficiary.
      queryParameters:
        BeneficiaryId:
          displayName: Beneficiary Id
          type: string
          description: Beneficiary Unique Reference
          example: BEN1234
          required: false
      responses:
        200:
          body:
            application/json:
              type: Beneficiary
    post:
      description: Create a new beneficiary - TBD.
    put:
      description: Update an existing beneficiary - TBD.
    delete:
      description: Remove a beneficiary - TBD.
/holdings:
  displayName: Holdings
  description: Collection of all holdings for a client.
  get:
    description: Retrieve all holdings.
    queryParameters:
      extractDate:
        displayName: Extract Date
        type: datetime
        description: Point in time of valuation, default to latest
        required: false
    responses:
      200:
        body:
          application/json:
            type: Holdings
  /{holding}:
    displayName: Holding
    description: A specific holding in an asset
    get:
      description: Retrieve specific holdings.
      queryParameters:
        extractDate:
          displayName: Extract Date
          type: datetime
          description: Point in time of valuation, default to latest
          required: false
        securityRef:
          displayName: Security reference ID
          type: string
          description: Unique security reference
          required: false
      responses:
        200:
          body:
            application/json:
              type: Holding
#    post:
#      body:
#        application/json:
#          schema: Holding
#      responses:
#        200:
    /classifications/{classification}:
      get:
        responses:
          200:
            body:
              application/json:
                type: Holdings
    /accounts/{account}:
      get:
        responses:
          200:
            body:
              application/json:
                type: Holdings
/payments:
  displayName: Payments
  description: Collection of all payments made for an account or client.
  get:
    description: Retrieve all payments.
    queryParameters:
      CustomerId:
        displayName: Customer Id
        type: string
        description: Customer Unique Reference
        example: ABC1234
        required: false
      AccountId:
        displayName: Account Id
        type: string
        description: Account Unique Reference
        example: ABC1234
        required: false
    responses:
      200:
        body:
          application/json:
            type: Payments
  post:
    description: Create a number of payments - TBD.
#  put:
#    description: Update a number of payments.
#  delete:
#    description: Remove a number of payments.
  /{payment}:
    description: A single payment from an account.
    get:
      description: Retrieve a payment.
      queryParameters:
        PaymentId:
          displayName: Payment Id
          type: string
          description: Payment Unique Reference
          example: PAY1234
          required: false
      responses:
        200:
          body:
            application/json:
              type: Payment
    post:
      description: Create a payment - TBD.
#    put:
#      description: Update a payment.
#    delete:
#      description: Remove a payment.
/FXs:
  displayName: FXs
  description: Collection of all FXs made for an account or client.
  get:
    description: Retrieve all FXs.
    queryParameters:
      CustomerId:
        displayName: Customer Id
        type: string
        description: Customer Unique Reference
        example: ABC1234
        required: false
      AccountId:
        displayName: Account Id
        type: string
        description: Account Unique Reference
        example: ABC1234
        required: false
    responses:
      200:
        body:
          application/json:
            type: FXs
  post:
    description: Create a number of FXs - TBD.
#  put:
#    description: Update a number of FXs.
#  delete:
#    description: Remove a number of FXs.
  /{FX}:
    description: A single FX from an account.
    get:
      description: Retrieve a FX.
      queryParameters:
        FXId:
          displayName: FX Id
          type: string
          description: FX Unique Reference
          example: PAY1234
          required: false
      responses:
        200:
          body:
            application/json:
              type: FX
    post:
      description: Create a FX - TBD.
#    put:
#      description: Update a FX.
#    delete:
#      description: Remove a FX.
/trades:
  displayName: Trades
  description: Collection of all trades.
  get:
    description: Retrieve all trades.
    queryParameters:
      CustomerId:
        displayName: Customer Id
        type: string
        description: Customer Unique Reference
        example: ABC1234
        required: false
      AccountId:
        displayName: Account Id
        type: string
        description: Account Unique Reference
        example: ABC1234
        required: false
    responses:
      200:
        body:
          application/json:
            type: Trades
#  post:
#    description: Create a number of trades.
#  put:
#    description: Update a number of trades.
#  delete:
#    description: Remove a number of trades.
  /{trade}:
    displayName: Trade
    description: A single trade on an account
    get:
      description: Retrieve a single trade.
      queryParameters:
        TransactionId:
          displayName: Transaction Id
          type: string
          description: Transaction Unique Reference
          example: I123456
          required: true
      responses:
        200:
          body:
            application/json:
              type: Trade
#    post:
#      description: Create a trade.
#    put:
#      description: Update a trade.
#    delete:
#      description: Remove a trade.
/corporateactions:
  displayName: Corporate Actions Notifications/Elections
  description: Collection of all corporate actions
  get:
    description: Retrieve all corporate actions notifications - TBD.
  put:
    description: Elect on a number of corporate actions - TBD.
/users:
  displayName: Users
  description: Collection of all users of the Multrees Web API.
  get:
    description: Retrieve all users.
#  post:
#    description: Create a number of users.
#  put:
#    description: Update a number of users.
#  delete:
#    description: Remove a number of users.
  /{user}:
    displayName: User
    description: A user of the Multrees Web API
    get:
      description: Retieve a user.
#    post:
#      description: Create a user.
#    put:
#      description: Update a user.
#    delete:
#      description: Remove a user.
